<div class="container">
    <div class="row">
        <div class="col-4">
            <form [formGroup]="makeQuadForm"
                  (ngSubmit)="onSubmit()">
                <div formArrayName="myQuads">
                    <h4>My Quads</h4>
                    <p>Press the button to build one quad (or more).</p>
                    <p>Every entry is the lenght of the sides of the quad (1-800).</p>
                    <button
                            class="btn btn-default"
                            type="button"
                            (click)="onAddQuad()"
                    >Add Quad
                    </button>
                    <div
                            class="form-group"
                            *ngFor="let quadControl of makeQuadForm.get('myQuads').controls; let i = index">
                        <div [formGroupName]="i" class="form-control">
                            <div class="form-group">
                                <label for="A">A</label>
                                <input
                                        type="number"
                                        id="A"
                                        formControlName="A"
                                        class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="B">B</label>
                                <input
                                        type="number"
                                        id="B"
                                        formControlName="B"
                                        class="form-control"
                                >
                            </div>
                            <div class="form-group">
                                <label for="C">C</label>
                                <input
                                        type="number"
                                        id="C"
                                        formControlName="C"
                                        class="form-control"
                                >
                            </div>
                            <div class="form-group">
                                <label for="D">D</label>
                                <input
                                        type="number"
                                        id="D"
                                        formControlName="D"
                                        class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isEmpty">
                <button class="btn btn-primary" type="submit" [disabled]=!makeQuadForm.valid >Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
